body {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
  padding: 0px;
  line-height: 20px;
}
.input {
  visibility: hidden;
}
.output {
  visibility: hidden;
  color: white;
  margin: 0px;
  line-height: 2px;
}
.commandBlock {
  margin-bottom: 25px;
}

.meme {
  display: absolute;
  visibility: hidden;
}
